<table class="table table-dark table-striped table-sm">
  <thead>
    <tr>
      <th scope="col" colspan="2" class="text-center">Bids</th>
      <th scope="col" colspan="2" class="text-center">Offers</th>
    </tr>
    <tr>
      <th scope="col" class="font-weight-light text-center"><small>quantity</small></th>
      <th scope="col" class="font-weight-light text-center"><small>price</small></th>
      <th scope="col" class="font-weight-light text-center"><small>price</small></th>
      <th scope="col" class="font-weight-light text-center"><small>quantity</small></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let level of (depth$ | async)">
      <td class="text-left">{{level[0]?.qty | number: '1.0-0' | dash}}</td>
      <td class="text-right">{{level[0]?.price | number: '3.2-2' | dash}}</td>
      <td class="text-left">{{level[1]?.price | number: '3.2-2' | dash}}</td>
      <td class="text-right">{{level[1]?.qty | number: '1.0-0' | dash}}</td>
    </tr>
  </tbody>
</table>
